.menu-popper{
    display: flex;
    flex-direction: column;
    padding: 8px 24px !important;
}
.menu-item{
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 1.4rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap:1rem;
}
.userMenu{
    display: flex;
    align-items: center;

    .userMenu_avatar{
        background: transparent;
        border-radius: 50%;
        font-size: 5.6px;

        img{
            border-radius: 50%;
            object-fit: cover;
            width: 9em;
            height: 9em;
        }
    }
    .userMenu_info{
        margin-left: 12px;
        display: flex;
        flex-direction: column;
    }
    .userMenu_name{
        color: #292929;
        font-weight: 600;
        font-size: 1.6rem;
    }
    .userMenu_email{
        color: #757575;
        font-size: 1.4rem;
    }
}
hr{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin: 8px 0;
}