.wrapper{
    width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0 8px;
    top: 74px;
    z-index: 8;
}
.list_menu{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 0;
    padding-top: 20px;
}
.item{
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #404040;
    background: #fff;
    border-radius: 16px;
    cursor: pointer;


    &:hover{
        background: #e8ebed;
    }
    
    .icon{
        font-size: 2rem;
        color:var(--black)
    }
    .title{
        font-size: 1.1rem;
        font-weight: 600;
        color:rgb(141, 132, 132)
    }
}

.active{
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #404040;
    background:#e8ebed;
    border-radius: 16px;
    cursor: pointer;
}