.wrapper{
    display: flex;
    align-items: center;
    padding: 6px 0;
    cursor: pointer;

    span{
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #292929;
        display: -webkit-box;
        font-size: 1.4rem;
        line-height: 1.6;
        margin-left: 12px;
        overflow: hidden;
    }
}
.fallbackAvatar{
    background: transparent;
    border-radius: 50%;
    font-size: 3.6px;
}
.course_avatar{
    border-radius: 50%;
    height: 9em;
    object-fit: cover;
    width: 9em;
}