.track{
    display: none;
}
.track.active{
    display: block;
}
.wrapper_track{
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 2px;
    transition: all ease-in-out .3s;
    position: relative;
    cursor: pointer;
    // background-color: #f0512333;


    &:hover{
        background-color: #f1f1f1;
    }
}
.wrapper_track .info{
    flex: 1;
    margin: 0 0 0 28px;
    position: relative;

    &_title{
        position: relative;
        top: -2px;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.4;
        color: var(--black);
        margin: 0;
    }

    &_desc{
        margin-top: 4px;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        svg{
            margin-right: 6px;
            color: #888;
        }
    }
}
.wrapper_track .icon{
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    color: #5db85c;
    font-size: 1.4rem;
    margin-top: 1px;
}

